# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# test files
test/
test.py
test1.py


# debug
/.vscode

# db
*.db

# google
creds.json

# cfg
setup.cfg

# cron
crontab
